.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0084ff;
    position: relative;
  }
  
  .fa-cart-shopping {
    font-size: 40px;
  }
  .cart-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-badge {
    position: absolute;
    top: -12px; /* Adjust to move badge */
    right: 25px;
    background-color: rgba(255, 0, 0, 0.386);
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    padding: 3px 7px;
    min-width: 20px;
    text-align: center;
  }
  
  .brand-name {
    color: white;
    font-size: 24px;
    font-weight: 800;
    font-stretch: expanded;
    text-shadow: 1px 1px 2px #ccc;
  }
  
  .userLocation,
  .pincode {
    display: inline-block;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 800;
  }
  
  .loc {
    padding-left: 25px;
    margin-top: 7px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .search-container {
    position: relative;
    width: 450px;
  }
  
  .search-box {
    width: 400px;
    margin-left: 30px;
    padding: 10px 35px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(243, 237, 237);
    font-size: 16px;
    cursor: pointer;
  }
  .home-in {
    margin-left: 120px;
  }
  .sign-in {
    color: black;
    margin-left: 140px;
    margin-top: 3px;
    width: 600px;
    font-size: 18px;
  }
  .cart-icon {
    margin-right: 50px;
  }
  .help {
    margin-right: 140px;
  }
  .create-button {
    margin-right: 100px;
    width: 100px;
  }
  .orders {
    font-size: 18px;
    font-weight: 700;
    margin-right: 100px;
  }
  